.account-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap:15px;
}

.account-container p,
.account-container h2 {
    margin: 0;
}

.top {
    width: 100%;
    text-align: center;
    font-size: 20px;
    color: inherit;
    background-color: transparent;
}