.dash-frame {
    padding: 10px 0 10px 0;
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 10px;
    max-height: 100vh;
}

.grid-chart {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;                         
    overflow: hidden;
}

.chart-component{
    width: 100%;
    height: 100%;
    border: 1px solid black;
}

