.grid-chart {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);  
    gap: 15px;                         
    box-sizing: border-box;
}

.chart-component{
    width: 100%;
    height: 100%;
    border: 1px solid black;
    box-sizing: border-box;
}