.frame {
    min-width: 1200px;
    display: grid;
    grid-template-rows: auto 1fr auto; /* main-right */
    gap: 10px;
    box-sizing: border-box;
}

/* header */
header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    padding-top: 5px;
    /* border: 2px solid black; /* header 영역 border 시각화 용 */
}

    header button {
        font-size: 16px;
        font-weight: bold;
    }

/* link */
.link {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 8px;
}

    .link button {
        width: 150px;
        background: none;
        border: none;
        color: inherit;
        font-size: 17px;
        font-weight: bold;
        cursor: pointer;
        text-decoration: none;
        font-weight: bold;
        text-align: center;
        padding-top: 3px;
    }


.login-btn {
    border-right: 1px solid black !important;
    border-left: 1px solid black !important;
}

/* alert */
.alert {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    width: 100%;
}

    .alert a {
        background: none;
        border: none;
        color: black;
        font-size: 17px;
        font-weight: bold;
        cursor: pointer;
        text-decoration: none;
        font-weight: bold;
        font-size: 15px;
    }

    .alert label {
        font-size: 13px;
    }

.TICKER {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

    .TICKER a {
        color: inherit;
    }

.alert img {
    width: 13px;
    height: 13px;
    margin-right: 5px;
}

/* main */
main {
    display: grid;
    grid-template-columns: 300px auto 300px;
    gap: 10px;
    padding: 10px 0px 10px 0px;
    box-sizing: border-box;
    height: calc(100vh - 200px);
    box-sizing: border-box;
    /* border: 2px solid black; /* main 영역 border 시각화 용 */
}

/* left */
.main-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background: rgba(237, 245, 250, 0.3);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
    border: 1px solid rgba(0, 0, 0, 0.05);
    padding: 15px;
    box-sizing: border-box;
    overflow-y: auto;
}

    .main-left::-webkit-scrollbar {
        display: none;
    }

.bot-selection {
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.all-wallet {
    width: 100%;
    font-size: 16px;
    background-color: inherit;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 12px 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: pointer;
    box-sizing: border-box;
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: inherit;
}

    .all-wallet:hover {
        transform: scale(1.03);
        box-shadow: 0 4px 12px rgba(59, 130, 246, 0.3);
        border-color: #3b82f6;
        transition: all 0.25s ease;
        background-color: rgba(59, 130, 246, 0.05);
    }

/* center */
.main-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background: rgba(237, 245, 250, 0.3);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-sizing: border-box;
    padding: 15px;
}

/* right */
.main-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background: rgba(237, 245, 250, 0.3);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
    border: 1px solid rgba(0, 0, 0, 0.05);
    padding: 15px;
    box-sizing: border-box;
    height: 100%;
    overflow: hidden;
}

/* frame 공용 버튼 */
button {
    background-color: inherit;
    border: none;
    color: inherit;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    outline: none;
}

    button:focus {
        outline: none;
    }

/* footer */
footer {
    width: 100%;
    /* border: 2px solid black; /* footer 영역 border 시각화 용 */
}

.footer-content {
    width: 100%;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

    .footer-content p {
        margin: 3px 0;
        font-family: 'Noto Sans KR', sans-serif;
    }

